.edge-online
{
    color: #64FF64;
}

.edge-offline
{
    color: #9b0000
}

.table-warning-custom
{
    --bs-table-bg: #af7200;
    --bs-table-striped-bg: #af7200;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #af7200;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #966201;
    --bs-table-hover-color: #000;
    color: #fff;
    border-color: rgb(189, 142, 1);
}